<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendelésed</title>
</head>
<body>


    {% if orders %}
    <ul>
    {% for order in orders %}
    <h1>Pizza rendelési űrlap (kitöltött)</h1>
    <fieldset>
        <legend>Adataid</legend>
        Név: {{ order.name }}<br><br>
        Telefon: {{ order.phone }}<br><br>
    </fieldset>


    <fieldset>
        <legend>Pizza mérete</legend>
        Méret: {{ order.size }}<br><br>
    </fieldset>

    <fieldset>
        <legend>Feltétek</legend>
        <li>{{ order.ham }}</li>
        <li>{{ order.cheese }}</li>
        <li>{{ order.mushroom }}</li>
    </fieldset>


    Mennyiség: {{ order.measure }}<br><br>
    Kért szállítási idő: {{ order.time }}<br><br>
    Egyéb kívánságok: {{ order.more }}<br><br>
    {% endfor %}
    </ul>
    {% endif %}

</body>
</html>